In [174]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [175]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
643,tt0478087,35000000,69823199,21,Jim Sturgess|Kevin Spacey|Kate Bosworth|Aaron ...,Robert Luketic,They proved the Vegas Blackjack System was bea...,"Ben Campbell is a young, highly intelligent, s...",123,Drama|Crime,Columbia Pictures|Relativity Media,3/27/2008,6.5,2008
561,tt0248667,107000000,87713825,Ali,Will Smith|Jamie Foxx|Jon Voight|Mario Van Pee...,Michael Mann,Float like a butterfly and sting like a bee.,"In 1964, a brash new pro boxer, fresh from his...",157,Drama,Columbia Pictures Corporation,12/11/2001,6.7,2001
259,tt1046173,175000000,302469017,G.I. Joe: The Rise of Cobra,Dennis Quaid|Channing Tatum|Marlon Wayans|Sien...,Stephen Sommers,"When all else fails, they don't.",From the Egyptian desert to deep below the pol...,118,Adventure|Action|Thriller|Science Fiction,Paramount Pictures|Spyglass Entertainment|Di B...,8/4/2009,5.7,2009
1630,tt0395169,17500000,38000000,Hotel Rwanda,Don Cheadle|Sophie Okonedo|Nick Nolte|Fana Mok...,Terry George,"When the world closed its eyes, he opened his ...","Inspired by true events, this film takes place...",121,Drama|History|War,Lions Gate Films|United Artists|Industrial Dev...,9/11/2004,7.2,2004
1447,tt0206634,76000000,69959751,Children of Men,Clive Owen|Michael Caine|Julianne Moore|Charli...,Alfonso CuarÃ³n,The future's a thing of the past.,"In 2027, in a chaotic world in which humans ca...",109,Drama|Action|Thriller|Science Fiction,Universal Pictures|Strike Entertainment|Hit & ...,9/22/2006,7.3,2006

In [176]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [177]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


# Определяем основные параметры DataFrame
data.info()


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

Создадим колонку profit (прибыль)

In [178]:
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [180]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tide (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [179]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [181]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [182]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [183]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [184]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [185]:
answers['4'] = '110'

In [186]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [187]:
answers['5'] = '107.0'

In [188]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [189]:
answers['6'] = 'Avatar (tt0499549)'

In [190]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [191]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [192]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [193]:
answers['8'] = '1478'

In [194]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [195]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [196]:
tmp = data[data.release_year == 2008] # создаем временный DataFrame с фильмами 2008 г.
tmp[tmp.revenue == tmp.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [197]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [198]:
tmp = data[(data.release_year >= 2008)&(data.release_year <= 2014)] # создаем временный DataFrame с нужными годами
tmp[tmp.profit == tmp.profit.min()] # находим наименьшую прибыль

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [199]:
answers['11'] = 'Drama'

In [200]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(data['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                4338
Drama               782
Comedy              683
Thriller            596
Action              582
Adventure           415
Crime               315
Romance             308
Family              260
Science Fiction     248
Fantasy             222
Horror              176
Mystery             168
Animation           139
Music                64
History              62
War                  58
Western              19
Documentary           8
Foreign               2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [201]:
answers['12'] = 'Drama'

In [202]:
# создаем временный DataFrame из фильмов с положительной прибылью
tmp = data[data.profit > 0]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                3428
Drama               560
Comedy              551
Thriller            446
Action              444
Adventure           337
Romance             242
Crime               231
Family              226
Science Fiction     195
Fantasy             188
Horror              150
Animation           120
Mystery             119
Music                47
History              46
War                  41
Western              12
Documentary           7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [203]:
answers['13'] = 'Peter Jackson'

In [204]:
# Создаем список всех режесеров
list_director = list(Counter(pd.DataFrame(data['director'].str.split('|', expand=True)).values.ravel()))

In [207]:
# Ищем режесера с наибольшими кассовыми сборами
sum_profit = 0
sum_max = 0
Name_max = ''
for i in list_director:
    sum_profit = data[data.director.str.contains(str(i), na=False)].profit.sum()
    if sum_max < sum_profit:
        sum_max = sum_profit
        Name_max = i
Name_max

'Peter Jackson'

Вариант 2

In [208]:
# Создаем временный Series для суммирования кассовых сборов
s_tmp = pd.Series([0] * len(list_director), index = list_director)

In [209]:
# создаем функцию сортировки счетом
def sort(x):
    y = x  # Вводим дополнительную переменную чтобы не ломать DataFrame
    x.index = data.columns
    
    for i in list_director:        
        director_tmp = x.director.split('|')
        for name in director_tmp:
            if i == name:
                s_tmp[name] += x.profit
    return y

In [210]:
# Примением функцию к DataFrame
data.apply(sort, axis=1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [211]:
# Сортируем s_tmp
s_tmp.sort_values(ascending=False)

Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Jack Sholder          -75171919
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Length: 998, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [212]:
answers['14'] = 'Robert Rodriguez'

In [213]:
# создаем временный DataFrame из фильмов в жанре Action
new_data = data[data.genres.str.contains('Action', na=False)]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(new_data['director'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                   2869
Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
                      ...
Jeff Wadlow              1
Lexi Alexander           1
Peter Segal              1
Mathieu Kassovitz        1
Des McAnuff              1
Length: 365, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [214]:
answers['15'] = 'Emma Watson'

In [215]:
# создаем временный DataFrame только с фильмами 2012г.
data_new = data[data.release_year == 2012]

In [216]:
# Создаем список всех актеров
tmp = list(Counter(pd.DataFrame(data_new['cast'].str.split('|', expand=True)).values.ravel()))

In [217]:
# Ищем актера 
sum_cast = 0
sum_max = 0
Name_max = ''
for i in tmp:
    sum_cast = data[data.cast.str.contains(str(i))].revenue.sum()
    if sum_max < sum_cast:
        sum_max = sum_cast
        Name_max = i
Name_max

'Emma Watson'

Вариат 2

In [218]:
data.revenue.max()

2781505847

In [219]:
data[data.revenue == 2781505847]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [220]:
data.cast.loc[239]

'Sam Worthington|Zoe Saldana|Sigourney Weaver|Stephen Lang|Michelle Rodriguez'

Вариант 3

In [221]:
# Создаем временный Series для суммирования кассовых сборов
s_tmp = pd.Series([0] * len(tmp), index = tmp)

In [222]:
# Создаем функцию поиска актера
def search(x):
    y = x  # Вводим дополнительную переменную чтобы не ломать DataFrame
    x.index = data.columns  # Для упрощения работы индексам присваиваем незвания столбцов
    
    for i in tmp:
        cast_tmp = x.cast.split('|')
        for name in cast_tmp:
            if i == name:
                s_tmp[name] += x.revenue
    return y

In [223]:
# Примением функцию к DataFrame
data.apply(search, axis=1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [224]:
# Сортируем s_tmp
s_tmp.sort_values(ascending=False)

Emma Watson          8159245597
Ian McKellen         8022375777
Daniel Radcliffe     7862990281
Johnny Depp          7421417000
Robert Downey Jr.    7018330161
                        ...
Katrina Bowden          8493728
Jean-Luc Bilodeau       8493728
James Kidnie            8106475
Heidi Hawkins           8106475
Sami Gayle              2106557
Length: 466, dtype: int64

# Все три варианта не дали правильного ответа, связи с чем прошу Вас разьяснить в чем собственно заключается ошибка. Самостоятельно найти не могу. Зарание спасибо.

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [225]:
answers['16'] = 'Matt Damon'

In [226]:
# создаем временный DataFrame только с фильмами, бюджет которых выше среднего
tmp = data[data.budget > data.budget.mean()]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(tmp['cast'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Cliff Robertson       1
Carrie Coon           1
Rip Torn              1
Lara Flynn Boyle      1
Piper Perabo          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [227]:
answers['17'] = 'Action'

In [228]:
# создаем временный DataFrame только с фильмами, где участвовал Nicolas Cage
tmp = data[data.cast.str.contains('Nicolas Cage', na=False)]

In [229]:
# Создаем Series с развернутым списком и колличеством элементов genres, сортируем
pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                42
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [230]:
answers['18'] = 'K-19: The Widowmaker'

In [231]:
# создаем временный DataFrame только с фильмами, где участвовал Paramount Pictures
tmp = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

In [232]:
# ищем самый самый убыточный фильм
tmp[tmp.profit == tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [233]:
answers['19'] = '2015'

In [234]:
# групперуем и находим сумму
data.groupby(['release_year'])['revenue'].sum()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [235]:
answers['20'] = '2014'

In [236]:
# создаем временный DataFrame только с фильмами, где участвовал Warner Bros
tmp = data[data.production_companies.str.contains('Warner Bros', na=False)]

In [237]:
# групперуем и находим сумму
tmp.groupby(['release_year'])['revenue'].sum()

release_year
2000    1025531386
2001    2266545668
2002    1702709901
2003    2745493377
2004    2731933725
2005    2412980298
2006    1521170743
2007    3183675217
2008    3050595031
2009    2737954136
2010    3008712985
2011    2845393682
2012    1869520056
2013    2599953400
2014    3243064519
2015    1691168351
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [238]:
answers['21'] = '9'

In [239]:
# создаем словарь с номерами месяцев
month = dict.fromkeys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 0)
month

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0}

In [240]:
# создаем функцию фильтрации счетом
def sum_month(x):
    month_tmp = str(x).split('/')
    month[int(month_tmp[0])] += 1
    return x

In [241]:
# применяем функцию фильтрации счетом к DataFrame
data.release_date.apply(sum_month)

0         6/9/2015
1        5/13/2015
2        3/18/2015
3       12/15/2015
4         4/1/2015
           ...
1884     7/13/2000
1885    10/27/2000
1886     6/30/2000
1887     2/16/2000
1888     7/19/2000
Name: release_date, Length: 1889, dtype: object

In [242]:
# Смотрим результат
month

{1: 110,
 2: 135,
 3: 156,
 4: 149,
 5: 140,
 6: 147,
 7: 142,
 8: 161,
 9: 227,
 10: 186,
 11: 146,
 12: 190}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [243]:
answers['22'] = '450'

In [244]:
# суммируем данные из предыдущего задантя
sum_month = month[6] + month[7] + month[8]
sum_month

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [245]:
answers['23'] = 'Peter Jackson'

In [246]:
# Создаем временные DataFrame с нужными месяцами
tmp1 = data[data.release_date.str.match('1/')]
tmp2 = data[data.release_date.str.match('2/')]
tmp3 = data[data.release_date.str.match('12/')]

In [247]:
# Соединяем в один
tmp = pd.concat([tmp1, tmp2, tmp3])

In [248]:
# Создаем Series с развернутым списком и колличеством элементов, фильтруем его
pd.Series(Counter(pd.DataFrame(tmp['director'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                   4749
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
                      ...
Paul W.S. Anderson       1
Rob Minkoff              1
Christopher Miller       1
Phil Lord                1
Courtney Solomon         1
Length: 359, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [249]:
answers['24'] = 'Twentieth Century Fox Film Corporation|Four By Two Productions'

In [250]:
# создаем функцию подсчета колличества символов
def long_Name(x):
    x = len(x)
    return x

In [251]:
# применяем функцию и фильтруем результат
data.original_title.apply(long_Name).sort_values(ascending=False)

1448    83
1314    62
219     59
1751    58
385     56
        ..
1483     2
714      2
1172     2
1282     2
252      1
Name: original_title, Length: 1889, dtype: int64

In [252]:
# смотрим результат
print(data.production_companies.loc[1448])

Twentieth Century Fox Film Corporation|Four By Two Productions

Вариант 2

In [253]:
data.original_title.apply(lambda x:len(x)).sort_values(ascending=False)

1448    83
1314    62
219     59
1751    58
385     56
        ..
1483     2
714      2
1172     2
1282     2
252      1
Name: original_title, Length: 1889, dtype: int64

In [254]:
# смотрим результат
print(data.production_companies.loc[1448])

Twentieth Century Fox Film Corporation|Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [255]:
answers['25'] = 'Midnight Picture Show'

In [256]:
# создаем список студий
tmp_list = list(Counter(Counter(pd.DataFrame(data['production_companies'].str.split('|', expand=True)).values.ravel())))

In [257]:
# Обьявляем переменные для определения средней длинны
Name_companies = ''
old_mean = 0
new_mean = 0

# поочередно создаем временные DataFrame со всеми компаниями и считаем среднюю длинну описания
for i in tmp_list:
    new_data = data[data.production_companies.str.contains(str(i), na=False)]
    new_mean = new_data.overview.apply(lambda x: len(x)).mean()
    if old_mean < new_mean:
        old_mean = new_mean
        Name_companies = i

# Выводим имя студии
Name_companies

<ipython-input-257-ecd8aca9ffcf>:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  new_data = data[data.production_companies.str.contains(str(i), na=False)]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [258]:
answers['26'] = 'The Dark Knight'

In [259]:
# находим пределы 1 процента по рейтенгу
data['vote_average'].max()

8.1

In [260]:
data[data.vote_average >= 8]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [261]:
answers['27'] = 'Daniel Radcliffe,Rupert Grint и Daniel Radcliffe,Emma Watson'

In [262]:
# уменьшаем DataFrame до фильмов, где снималось более 1 актера
data_cast = data[data.cast.str.contains('|', na=False)]

In [263]:
# создаем список для хранения данных из DataFrame
partners_list = []

# создаем функцию обработки DataFrame
def search_partners(x):
    x = list(x.split('|'))
    partners_list.append(x)

In [264]:
# извлекаем данные из DataFrame
data_cast.cast.apply(search_partners)

ans_list = {}

# обрабатываем получившийся массив
for i in partners_list:
    for j in i:
        if j != i[0]:
            key_list = i[0] + ',' + j
            if key_list in ans_list:
                ans_list[key_list] += 1
            else:
                ans_list[key_list] = 1

# преобразуем словарь в serias и фильтруем
pd.Series(ans_list).sort_values(ascending=False)

Daniel Radcliffe,Rupert Grint       8
Daniel Radcliffe,Emma Watson        8
Adam Sandler,Kevin James            5
Johnny Depp,Helena Bonham Carter    5
Ben Stiller,Owen Wilson             5
                                   ..
Lizzy Caplan,Mike Vogel             1
Lizzy Caplan,Michael Stahl-David    1
Lizzy Caplan,Odette Annable         1
Lizzy Caplan,Jessica Lucas          1
Susan Ward,Tess Harper              1
Length: 7163, dtype: int64

# Submission

In [265]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tide (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Twentieth Century Fox Film Corporation|Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': 'Daniel Radcliffe,Rupert Grint и Daniel Radcliffe,Emma Watson'}

In [266]:
# и убедиться что ни чего не пропустил)
len(answers)

27