In [338]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [391]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1380,tt0399146,32000000,60740827,A History of Violence,Viggo Mortensen|Maria Bello|Heidi Hayes|Ashton...,David Cronenberg,Tom Stall had the perfect life... until he bec...,An average family is thrust into the spotlight...,96,Drama|Thriller|Crime,New Line Cinema|DC Comics|BenderSpink,9/23/2005,6.7,2005
1619,tt0368008,80000000,96105964,The Manchurian Candidate,Denzel Washington|Meryl Streep|Liev Schreiber|...,Jonathan Demme,This summer everything is under control.,When his army unit was ambushed during the fir...,129,Drama|Thriller|Mystery,Paramount Pictures|Scott Rudin Productions|Cli...,7/30/2004,6.1,2004
691,tt0483607,30000000,22211426,Doomsday,Rhona Mitra|Bob Hoskins|Malcolm McDowell|Alexa...,Neil Marshall,Mankind has an expiration date.,A lethal virus spreads throughout the British ...,105,Action|Thriller|Science Fiction,Rogue Pictures|Intrepid Pictures|Scion Films|M...,3/14/2008,5.8,2008
1780,tt0452623,19000000,34619699,Gone Baby Gone,Casey Affleck|Michelle Monaghan|Morgan Freeman...,Ben Affleck,Everyone wants the truth... until they find it.,When 4 year old Amanda McCready disappears fro...,113,Crime|Drama|Mystery,Miramax Films|The Ladd Company,10/19/2007,7.0,2007
1110,tt0311113,150000000,212011111,Master and Commander: The Far Side of the World,Russell Crowe|Paul Bettany|James D'Arcy|Billy ...,Peter Weir,The Courage to Do the Impossible Lies in the H...,After an abrupt and violent encounter with a F...,138,Adventure,Universal Pictures|Twentieth Century Fox Film ...,11/14/2003,6.6,2003

In [339]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [340]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# Определяем основные параметры DataFrame
data.info()


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

Создадим колонку profit (прибыль)

In [393]:
data['profit'] = data.revenue - data.budget
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [344]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tide (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [345]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [346]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [347]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [348]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [349]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [374]:
answers['4'] = '110'

In [373]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [352]:
answers['5'] = '107.0'

In [376]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [354]:
answers['6'] = 'Avatar (tt0499549)'

In [394]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [356]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [357]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [358]:
answers['8'] = '1478'

In [381]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [360]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [382]:
tmp = data[data.release_year == 2008] # создаем временный DataFrame с фильмами 2008 г.
tmp[tmp.revenue == tmp.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [362]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [383]:
tmp = data[(data.release_year >= 2008)&(data.release_year <= 2014)] # создаем временный DataFrame с нужными годами
tmp[tmp.profit == tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [364]:
answers['11'] = 'Drama'

In [397]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создаем Series с развернутым списком и колличеством элементов
tmp = pd.Series(Counter(pd.DataFrame(data['genres'].str.split('|', expand=True)).values.ravel()))
tmp.sort_values(ascending=False)

NaN                4338
Drama               782
Comedy              683
Thriller            596
Action              582
Adventure           415
Crime               315
Romance             308
Family              260
Science Fiction     248
Fantasy             222
Horror              176
Mystery             168
Animation           139
Music                64
History              62
War                  58
Western              19
Documentary           8
Foreign               2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [389]:
answers['12'] = 'Drama'

In [388]:
# создаем временный DataFrame из фильмов с положительной прибылью
tmp = data[data.profit > 0]
# Создаем Series с развернутым списком и колличеством элементов
tmp1 = pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel()))
tmp1.sort_values(ascending=False)

NaN                3428
Drama               560
Comedy              551
Thriller            446
Action              444
Adventure           337
Romance             242
Crime               231
Family              226
Science Fiction     195
Fantasy             188
Horror              150
Animation           120
Mystery             119
Music                47
History              46
War                  41
Western              12
Documentary           7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [164]:
answers['13'] = 'Peter Jackson'

In [143]:
# Создаем список всех режесеров
tmp = list(Counter(pd.DataFrame(data['director'].str.split('|', expand=True)).values.ravel()))
tmp

['Colin Trevorrow',
 None,
 'George Miller',
 'Robert Schwentke',
 'J.J. Abrams',
 'James Wan',
 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu',
 'Alan Taylor',
 'Ridley Scott',
 'Kyle Balda',
 'Pierre Coffin',
 'Pete Docter',
 'Sam Mendes',
 'Lana Wachowski',
 'Lilly Wachowski',
 'Alex Garland',
 'Chris Columbus',
 'Joss Whedon',
 'Quentin Tarantino',
 'Olivier Megaton',
 'Peyton Reed',
 'Kenneth Branagh',
 'Francis Lawrence',
 'Brad Bird',
 'Antoine Fuqua',
 'Brad Peyton',
 'Sam Taylor-Johnson',
 'Adam McKay',
 'Christopher McQuarrie',
 'Seth MacFarlane',
 'Matthew Vaughn',
 'Tom McCarthy',
 'Wes Ball',
 'Neill Blomkamp',
 'Elizabeth Banks',
 'Steven Spielberg',
 'Rob Letterman',
 'Lenny Abrahamson',
 'Peter Sohn',
 'Jaume Collet-Serra',
 'John Crowley',
 'F. Gary Gray',
 'Breck Eisner',
 'Guy Ritchie',
 'Lee Toland Krieger',
 'Ilya Naishuller',
 'Tim Johnson',
 'Jake Schreier',
 'Todd Haynes',
 'Nancy Meyers',
 'Baltasar KormÃ¡kur',
 'Ericson Core',
 'John Wells',
 'Tarsem Singh',
 'David Koepp',
 'Tom Hooper',
 'Michael Mann',
 'Denis Villeneuve',
 'Josh Trank',
 'Paul Feig',
 'Glenn Ficarra',
 'John Requa',
 'Aleksander Bach',
 'Ron Howard',
 'Ryan Coogler',
 'Judd Apatow',
 'Gavin Hood',
 'Brian Helgeland',
 'Joe Wright',
 'Steve Martino',
 'Peter Landesman',
 'Jonathan Levine',
 'George Tillman, Jr.',
 'Genndy Tartakovsky',
 'Jessie Nelson',
 'Robert Zemeckis',
 'John Francis Daley',
 'Jonathan M. Goldstein',
 'Gil Kenan',
 'Daniel Espinosa',
 'Joel Edgerton',
 'Sean Anders',
 'Mark Osborne',
 'Jocelyn Moorhouse',
 'Ari Sandel',
 'Ciaran Foy',
 'Andy Fickman',
 'Doug Ellin',
 'Jeremy Garelick',
 'M. Night Shyamalan',
 'Scott Cooper',
 'Michael Dougherty',
 'John Erick Dowdle',
 'Simon Curtis',
 'Jason Moore',
 'Dean Israelite',
 'Camille Delamarre',
 'Guillermo del Toro',
 'Gregory Jacobs',
 'Gregory Plotkin',
 'Jay Roach',
 'Billy Ray',
 'Paul Tibbitt',
 'Boaz Yakin',
 'Pierre Morel',
 'Anne Fletcher',
 'Leigh Whannell',
 'Nicholas Hytner',
 'Paul McGuigan',
 'Jonathan Demme',
 'David M. Rosenthal',
 'Noah Baumbach',
 'Etan Cohen',
 'Sarah Gavron',
 'Max Joseph',
 'Alejandro Monteverde',
 'Cameron Crowe',
 'David Gordon Green',
 'Barry Levinson',
 'Ken Kwapis',
 'Ken Scott',
 'Mike Binder',
 'Jon M. Chu',
 'Christopher Nolan',
 'James Gunn',
 'Joe Russo',
 'Anthony Russo',
 'Chad Stahelski',
 'David Leitch',
 'Peter Jackson',
 'Don Hall',
 'Chris Williams',
 'Morten Tyldum',
 'David Fincher',
 'David Ayer',
 'Shawn Levy',
 'Neil Burger',
 'Bryan Singer',
 'Luc Besson',
 'Jonathan Liebesman',
 'Jake Kasdan',
 'Dan Gilroy',
 'Michael Bay',
 'Wes Anderson',
 'Matt Reeves',
 'Marc Webb',
 'Doug Liman',
 'Evan Goldberg',
 'Seth Rogen',
 'Clint Eastwood',
 'Gareth Edwards',
 'Robert Stromberg',
 'Roger Donaldson',
 'Stiles White',
 'Dean DeBlois',
 'Patrick Hughes',
 'Phil Lord',
 'Christopher Miller',
 'Sergey Bodrov',
 'James Marsh',
 'Luke Greenfield',
 'Gary Shore',
 'Simon J. Smith',
 'Eric Darnell',
 'Rob Marshall',
 'Noam Murro',
 'Phillip Noyce',
 'Scott Frank',
 'Paul King',
 'Daniel Barnz',
 'Jon Favreau',
 'James DeMonaco',
 'Vic Armstrong',
 'J.C. Chandor',
 'Brett Ratner',
 'Darren Aronofsky',
 'David Dobkin',
 'Frank Coraci',
 'Nicholas Stoller',
 'R.J. Cutler',
 'Trish Sie',
 'Josh Boone',
 'Tim Story',
 'Paul Thomas Anderson',
 'Michael Spierig',
 'Peter Spierig',
 'JosÃ© Padilha',
 'Wally Pfister',
 'Nick Cassavetes',
 'Rob Minkoff',
 'Frank Miller',
 'Robert Rodriguez',
 'Carlos Saldanha',
 'Bobby Farrelly',
 'Peter Farrelly',
 'George Clooney',
 'Angelina Jolie',
 'Ava DuVernay',
 'Paul W.S. Anderson',
 'Michael Hoffman',
 'Will Gluck',
 'Theodore Melfi',
 'Scott Waugh',
 'Lasse HallstrÃ¶m',
 'Graham Annable',
 'Anthony Stacchi',
 'Tim Burton',
 'Brian A Miller',
 'Steven Quale',
 'Roberts Gannaway',
 'Sam Miller',
 'Bennett Miller',
 'Shana Feste',
 'David MichÃ´d',
 'Saul Dibb',
 'John R. Leonetti',
 'Stuart Beattie',
 'Tom Gormican',
 'Ben Falcone',
 'Akiva Goldsman',
 'Adam Wingard',
 'Russell Crowe',
 'Miguel Arteta',
 'Steve Pink',
 'Craig Gillespie',
 'Jonathan Glazer',
 'Rob Thomas',
 'Christopher Spencer',
 'Thomas Carter',
 'GrÃ©gory Levasseur',
 'Michael Cuesta',
 'Charles Martin Smith',
 'James Bobin',
 'Randall Wallace',
 'Renny Harlin',
 'Andrew Erwin',
 'Jon Erwin',
 'Dave Green',
 'Rupert Wyatt',
 'Don McKellar',
 'Harold Cronk',
 'Matt Bettinelli-Olpin',
 'Tyler Gillett',
 'James Cameron',
 'Patrick Tatopoulos',
 'David Yates',
 'Bob Peterson',
 'McG',
 'Todd Phillips',
 'Zack Snyder',
 'Roland Emmerich',
 'Shane Acker',
 'Ron Clements',
 'John Musker',
 'John Lee Hancock',
 'Ruben Fleischer',
 'Chris Weitz',
 'Stephen Sommers',
 'Robert Luketic',
 'Henry Selick',
 'Burr Steers',
 'Steve Carr',
 'Richard Kelly',
 'Mark Neveldine',
 'Brian Taylor',
 'Christian Alvart',
 'Sam Raimi',
 'Alex Proyas',
 'Duncan Jones',
 'Hoyt Yeatman',
 'Tony Scott',
 'Ricky Gervais',
 'Matthew Robinson',
 'P.J. Hogan',
 'Jaco Van Dormael',
 'Peter Billingsley',
 'Jim Sheridan',
 'John Hillcoat',
 'Conrad Vernon',
 'Nora Ephron',
 'Atom Egoyan',
 'Karyn Kusama',
 'Phil Traill',
 'David R. Ellis',
 'Betty Thomas',
 'Gary Winick',
 'Lee Daniels',
 'Kevin Macdonald',
 'David S. Goyer',
 'John Hamburg',
 'Steven Soderbergh',
 'Richard Curtis',
 'Brandon Camp',
 'Kevin Greutert',
 'Jean-Marc VallÃ©e',
 'Ethan Coen',
 'Joel Coen',
 'David Twohy',
 'Dominic Sena',
 'Rajkumar Hirani',
 'Grant Heslov',
 'James McTeigue',
 'Todd Graff',
 'Brad Silberling',
 'Jorge Blanco',
 'Javier Abad',
 'Marcos MartÃ\xadnez',
 'Harold Ramis',
 'Patrick Lussier',
 'Walt Becker',
 'Alejandro AmenÃ¡bar',
 'Troy Duffy',
 'Werner Herzog',
 'NimrÃ³d Antal',
 'Paul Weitz',
 'Lone Scherfig',
 'Jason Reitman',
 'David Bowers',
 'Tom Tykwer',
 'Justin Lin',
 'Michael Moore',
 'Rob Zombie',
 'Peter Chelsom',
 'John Schultz',
 'Olatunde Osunsanmi',
 'Brian Koppelman',
 'David Levien',
 'Tony Gilroy',
 'Jane Campion',
 'Greg Mottola',
 'Mike Judge',
 'Donald Petrie',
 'Marcus Nispel',
 'Daniel Barber',
 'Jonathan Mostow',
 'Andrzej Bartkowiak',
 'Thor Freudenthal',
 'Steve Shill',
 'Michael J. Bassett',
 'Jonas Elmer',
 'Richard Linklater',
 'Stewart Hendler',
 'Derrick Borte',
 'Vicky Jenson',
 'Marc Lawrence',
 'Toby Wilkins',
 'Bruce Beresford',
 'Chris Renaud',
 'Sylvester Stallone',
 'Chris Sanders',
 'Martin Scorsese',
 'Joseph Kosinski',
 'Nathan Greno',
 'Byron Howard',
 'Lee Unkrich',
 'Danny Boyle',
 'Michael Apted',
 'Florian Henckel von Donnersmarck',
 'Mike Newell',
 'Louis Leterrier',
 'Jon Turteltaub',
 'Edgar Wright',
 'Mike Mitchell',
 'Joe Carnahan',
 'Ethan Maniquis',
 'Dennis Dugan',
 'Albert Hughes',
 'Allen Hughes',
 'Ben Affleck',
 'David Slade',
 'Tom McGrath',
 'Edward Zwick',
 'Peter Weir',
 'Miguel Sapochnik',
 'James Mangold',
 'Ryan Murphy',
 'Andy Tennant',
 'Anand Tucker',
 'Paul Greengrass',
 'Alan Poul',
 'Josh Gordon',
 'Will Speck',
 'Floria Sigismondi',
 'Garry Marshall',
 'Troy Nixey',
 'Harald Zwart',
 'Jonathan Lynn',
 'Roman Polanski',
 'Paul Haggis',
 'Samuel Bayer',
 'David O. Russell',
 'Jimmy Hayward',
 'Jason Friedberg',
 'Aaron Seltzer',
 'Scott Stewart',
 'Michael Patrick King',
 'Susanna White',
 'John Luessenhop',
 'Steve Antin',
 'Nanette Burstein',
 'Mark Romanek',
 'Kevin Smith',
 'Greg Berlanti',
 'Neil Marshall',
 'John Curran',
 'Alexandre Aja',
 'Roger Michell',
 'Tony Goldwyn',
 'Michael Lembeck',
 'Colin Strause',
 'Greg Strause',
 'John Madden',
 'Jorma Taccone',
 'James L. Brooks',
 'Brian Levant',
 'Jim Field Smith',
 'William Monahan',
 'Wes Craven',
 'Robert Redford',
 'Neil LaBute',
 'Tom Dey',
 'Oliver Stone',
 'Dan Rush',
 'Anthony Bell',
 'Ben Gluck',
 'Eric Brevig',
 'Tom Vaughan',
 'Richard J. Lewis',
 'Martin Campbell',
 'Roger Kumble',
 'Kevin Munroe',
 'William Dear',
 'John Landis',
 'Tyler Perry',
 'Vipul Amrutlal Shah',
 'David Lynch',
 'David Silverman',
 'Andrew Adamson',
 'Sharon Maguire',
 'Gary Trousdale',
 'Kirk Wise',
 'Simon West',
 'J.B. Rogers',
 'Baz Luhrmann',
 'Ted Demme',
 'Jean-Jacques Annaud',
 'Ben Stiller',
 'Joel Gallen',
 'Keenen Ivory Wayans',
 'John A. Davis',
 'Lawrence Guterman',
 'Chris Nahon',
 'Peter Howitt',
 'Hironobu Sakaguchi',
 'Motonori Sakakibara',
 'Michael Cristofer',
 'John Moore',
 'Victor Salva',
 'Rod Lurie',
 'Lee Tamahori',
 'Adam Shankman',
 'Jerry Zucker',
 'Robert Altman',
 'James Isaac',
 'Gore Verbinski',
 'John Dahl',
 'Stephen Herek',
 'Iain Softley',
 'Gary Fleder',
 'Simon Wincer',
 'Bill Paxton',
 'Luis Mandoki',
 'Scott Hicks',
 'Daniel Sackheim',
 'John Herzfeld',
 'Brian Robbins',
 'Ivan Reitman',
 'Frank Oz',
 'Dennie Gordon',
 'John Boorman',
 "Pat O'Connor",
 'Jesse Dylan',
 'Gregory Poirier',
 'Frank Darabont',
 'Demian Lichtenstein',
 'John Carpenter',
 'Penny Marshall',
 'Mark Waters',
 'Rob Cohen',
 'John Stockwell',
 'Brendan Malloy',
 'Emmett Malloy',
 'Les Mayfield',
 'Harold Becker',
 'Mike Tollin',
 'Tim Hill',
 'Rob Pritts',
 'Joe Johnston',
 'Peter Hyams',
 'Peter Bogdanovich',
 'Francine McDougall',
 'Ernest R. Dickerson',
 'DJ Pooh',
 'John Singleton',
 'Andrew Stanton',
 'Catherine Hardwicke',
 'Marc Forster',
 'John Stevenson',
 'Phyllida Lloyd',
 'Timur Bekmambetov',
 'Loveleen Tandan',
 'Peter Berg',
 'Kathryn Bigelow',
 'D.J. Caruso',
 'Mark Herman',
 'Scott Derrickson',
 'Gabriele Muccino',
 'David Frankel',
 'Jeff Wadlow',
 'Lexi Alexander',
 'Pete Travis',
 'Peter Segal',
 'David Wain',
 'Mathieu Kassovitz',
 'Martin McDonagh',
 'Jon Hurwitz',
 'Hayden Schlossberg',
 'Peter Sollett',
 'Seth Gordon',
 'Fred Wolf',
 'David Hackl',
 'Marco Schnabel',
 'Woody Allen',
 'Jon Avnet',
 'Brad Anderson',
 'Gregory Hoblit',
 'Bryan Bertino',
 'Gus Van Sant',
 'Howard McCain',
 'Chris Carter',
 'John Patrick Shanley',
 'Paul Weiland',
 'Marcel Langenegger',
 'David Moreau',
 'Xavier Palud',
 'Oxide Pang Chun',
 'Danny Pang',
 'GÃ¡bor CsupÃ³',
 'Peter Cattaneo',
 'Robert Stevenhagen',
 'Sam Fell',
 'Craig Mazin',
 'Gina Prince-Bythewood',
 'Raja Gosnell',
 'Michael McCullers',
 'Julian Jarrold',
 'Rian Johnson',
 'Kirk De Micco',
 'Howard Deutch',
 'RyÃ»hei Kitamura',
 'Simon Hunter',
 'Joshua Michael Stern',
 'Jennifer Flackett',
 'Mark Levin',
 'Anthony Leondis',
 'Robert B. Weide',
 'Malcolm D. Lee',
 'Nicolas Winding Refn',
 'Andrew Niccol',
 'Jennifer Yuh',
 'John Lasseter',
 'Brad Lewis',
 'Bill Condon',
 'Terrence Malick',
 'Michel Hazanavicius',
 'Brad Furman',
 'Gary McKendry',
 'Mikael HÃ¥fstrÃ¶m',
 'Stephen Anderson',
 'George Nolfi',
 'Tom Hanks',
 'Mark Mylod',
 'Chris Gorak',
 'Tate Taylor',
 'Christian E. Christiansen',
 'Chris Miller',
 'Michel Gondry',
 'Oliver Parker',
 'Todd Strauss-Schulson',
 'Matthijs van Heijningen Jr.',
 'Gonzalo LÃ³pez-Gallego',
 'Simon Wells',
 'Joe Cornish',
 'Stephen Daldry',
 'Kelly Asbury',
 'Alexander Payne',
 'Bruce Robinson',
 'John Michael McDonagh',
 'Jesse Peretz',
 'Craig Brewer',
 'Joel Schumacher',
 'Henry Joost',
 'Ariel Schulman',
 'Michael Dowse',
 'Jason Winer',
 'Alister Grierson',
 'Douglas McGrath',
 'David Cronenberg',
 'Sean McNamara',
 'Mike Disa',
 'Joe Nussbaum',
 'William Friedkin',
 'John Whitesell',
 'Benny Chan',
 'Salim Akil',
 'Thomas Bezucha',
 'Paul Johansson',
 'Paolo Sorrentino',
 'Rodrigo GarcÃ\xada',
 'Mark Duplass',
 'Jay Duplass',
 'Chris Wedge',
 'George Lucas',
 'Barry Sonnenfeld',
 'Corey Yuen Kwai',
 'Wayne Wang',
 'Curtis Hanson',
 'Steven Brill',
 'Joel Zwick',
 'Andrew Davis',
 'Stuart Baird',
 'Kurt Wimmer',
 'Steve Beck',
 'Lorna Cook',
 'Jim Gillespie',
 'Chuck Russell',
 'Jeff Tremaine',
 'Julie Taymor',
 'Barbet Schroeder',
 'Spike Jonze',
 'Ron Shelton',
 'Walter Hill',
 'John Woo',
 'Adrian Lyne',
 'Michael Rymer',
 'Marcus Raboy',
 'Robin Budd',
 'Donovan Cook',
 'Dewey Nicks',
 'Brian De Palma',
 'Michael Caton-Jones',
 'Rob Bowman',
 'Carl Franklin',
 'Shekhar Kapur',
 'Mark Pellington',
 'Jonathan Frakes',
 'Rick Rosenthal',
 'Denzel Washington',
 'Mort Nathan',
 'Tamra Davis',
 'Ron Underwood',
 'Stephen Gaghan',
 'Reginald Hudlin',
 'Tom Shadyac',
 'Charles Stone III',
 'Kevin Bray',
 'William Malone',
 'Paul Schrader',
 'MÃ¥ns MÃ¥rlind',
 'BjÃ¶rn Stein',
 'Mark Andrews',
 'Steve Purcell',
 'Brenda Chapman',
 'Rupert Sanders',
 'Ang Lee',
 'Mike Thurmeier',
 'Juan Antonio Bayona',
 'Rich Moore',
 'Gary Ross',
 'Len Wiseman',
 'Stephen Chbosky',
 'Drew Goddard',
 'Peter Ramsey',
 'Michael Sucsy',
 'Juan Diego Solanas',
 'Scott Speer',
 'Mike McCoy',
 'Kirk Jones',
 'Larry Charles',
 'Nima Nourizadeh',
 'Peter Lord',
 'Jeff Newitt',
 'Stephen St. Leger',
 'James Mather',
 'James Watkins',
 'Asger Leth',
 'Henry Alex Rubin',
 'Alex Kurtzman',
 'John Gulager',
 'Ole Bornedal',
 'Andrew Dominik',
 'Mabrouk El Mechri',
 'Nicholas Jarecki',
 'Dan Bradley',
 'Julie Anne Robinson',
 'Dustin Hoffman',
 'Chris Butler',
 'Dean Wright',
 'Anthony Hemingway',
 'Josh Schwartz',
 'Brian Klugman',
 'Lee Sternthal',
 'Walter Salles',
 'David Barrett',
 'Todd Lincoln ',
 'Dan Cutforth',
 'Jane Lipsitz',
 'Mark Steven Johnson',
 'Stephen Norrington',
 'Steve Trenbirth',
 'Terry Zwigoff',
 'David Zucker',
 'Bille Woodruff',
 'Jan de Bont',
 'Rob Schmidt',
 'Jon Amiel',
 'Clark Johnson',
 'Charles Herman-Wurmfeld',
 'Richard Donner',
 'Anthony Minghella',
 'Ronny Yu',
 'Joe Dante',
 'John McTiernan',
 'Kevin Costner',
 'Jim Fall',
 'Lawrence Kasdan',
 'Patty Jenkins',
 'Martin Brest',
 'Ronald F. Maxwell',
 'Troy Miller',
 'Alan Parker',
 'Uwe Boll',
 'Chris Koch',
 'David Mackenzie',
 'FranÃ§ois Ozon',
 'Christopher Guest',
 'Nigel Cole',
 'James Cox',
 'Rob Reiner',
 'Robert Iscove',
 'Christine Jeffs',
 'Chris Buck',
 'Jennifer Lee',
 'Alfonso CuarÃ³n',
 'Shane Black',
 'Steve McQueen',
 'Dan Scanlon',
 'Tommy Wirkola',
 'Carl Rinsch',
 'Klay Hall',
 'Harmony Korine',
 'Fede Alvarez',
 'Derek Cianfrance',
 'Kimberly Peirce',
 'John Carney',
 'Justin Zackham',
 'Taylor Hackford',
 'Mike Flanagan',
 'David Soren',
 'Steven Knight',
 'Spike Lee',
 'Andy Muschietti',
 'Rusty Cundieff',
 'James Duffy',
 'Griffin Dunne',
 'Patrik Forsberg',
 'Will Graham',
 'Jonathan van Tulleken',
 'Scott Moore',
 'Jon Lucas',
 'Callan Brunker',
 'Amma Asante',
 'Sofia Coppola',
 'Dito Montiel',
 'Cody Cameron',
 'Kris Pearn',
 'Giuseppe Tornatore',
 'Don Scardino',
 'Jeff Nichols',
 'Jonathan Teplitzky',
 'Neil Nightingale',
 'Barry Cook',
 'Scott Walker',
 'Guillaume Canet',
 'Ric Roman Waugh',
 'Keanu Reeves',
 'David E. Talbert',
 'Christopher B. Landon',
 'Benson Lee',
 'Anthony Silverston',
 'Kasi Lemmons',
 'Dan St. Pierre',
 'Zal Batmanglij',
 'Ed Gass-Donnelly',
 'Justin Chadwick',
 'Stephen Frears',
 'Oliver Hirschbiegel',
 'Courtney Solomon',
 'Fyodor Bondarchuk',
 'Garth Jennings',
 'Mark Dindal',
 'Mike Johnson',
 'Steve Box',
 'Nick Park',
 'John Maybury',
 'Angela Robinson',
 'Cory Edwards',
 'Todd Edwards',
 'Tony Leech',
 'John Polson',
 'Sydney Pollack',
 'Terry Gilliam',
 'Florent-Emilio Siri',
 'Jay Chandrasekhar',
 'Frederik Du Chau',
 'Andrew Douglas',
 'Dean Parisot',
 'Kevin Rodney Sullivan',
 'Jean-FranÃ§ois Richet',
 'Jim Jarmusch',
 'George A. Romero',
 'Rupert Wainwright',
 'Clare Kilner',
 'Richard Shepard',
 'Gary Chapman',
 'Fernando Meirelles',
 'Tommy Lee Jones',
 'Danny Cannon',
 'Geoffrey Sax',
 'Liev Schreiber',
 'Stephen Kay',
 'Bruce Hunt',
 'Niki Caro',
 'Joe Ranft',
 'Karey Kirkpatrick',
 'Frank Marshall',
 'James Wong',
 'Christophe Gans',
 "Steve 'Spaz' Williams",
 'Stefen Fangmeier',
 'Alejandro Agresti',
 'Mel Gibson',
 'Robert De Niro',
 'Kevin Reynolds',
 "Matthew O'Callaghan",
 'Steven Zaillian',
 'Joe Roth',
 'Darren Lynn Bousman',
 'Jared Hess',
 'Wolfgang Petersen',
 'Steven Shainberg',
 'Jonathan Dayton',
 'Valerie Faris',
 'Greg Coolidge',
 'Nick Hurran',
 'Roger Allers',
 'Jill Culton',
 'Steve Oedekerk',
 'Chris Noonan',
 'Jim Sonzero',
 'John Bonito',
 'Liz Friedlander',
 'Peter Hewitt',
 'Elizabeth Allen Rosenbaum',
 'Richard Eyre',
 'Tony Bill',
 'Wayne Kramer',
 'Susannah Grant',
 'Takashi Shimizu',
 'Richard Loncraine',
 'Liam Lynch',
 'Sanjay Gadhvi',
 'Glen Morgan',
 'Phil Joanou',
 'Mira Nair',
 'Rachid Bouchareb',
 'William Brent Bell',
 'Asif Kapadia',
 'Doug Atchison',
 'Beeban Kidron',
 'Eric Bress',
 'J. Mackye Gruber',
 'Alexander Witt',
 'Bibo Bergeron',
 'Kerry Conran',
 'Stephen Hillenburg',
 "Tommy O'Haver",
 'Mark Rosman',
 'Rawson Marshall Thurber',
 'Danny Leiner',
 'Jeff Schaffer',
 'Mike Nichols',
 'Jonathan Hensleigh',
 'Pitof',
 'Don Mancini',
 'Charles Shyer',
 'Will Finn',
 'John Sanford',
 'Terry George',
 'Philip Kaufman',
 'Trey Parker',
 'Sara Sugarman',
 'Guy Ferland',
 'Joseph Ruben',
 'Nick Hamm',
 'Paul Abascal',
 'Joseph Kahn',
 "Gavin O'Connor",
 'E. Elias Merhige',
 'George Armitage',
 'David Mamet',
 'Kevin Allen',
 'Christopher Erskin',
 'Jay Russell',
 'Jan Pinkava',
 'Sean Penn',
 'Raman Hui',
 'Steve Hickner',
 'Stephen J. Anderson',
 'Richard LaGravenese',
 'Kevin Lima',
 'Juan Carlos Fresnadillo',
 'Steve Bendelack',
 'Bruce A. Evans',
 'Kirsten Sheridan',
 'Joby Harold',
 'Philip G. Atwell',
 'Mennan Yapo',
 'Michael Davis',
 'Ash Brannon',
 'Xavier Gens',
 'Eli Roth',
 'Jason Eisener',
 'David Schwimmer',
 'Dave Meyers',
 'Chris Sivertson',
 'Michael Haneke',
 'Sidney Lumet',
 'Fred Savage',
 'Russell Mulcahy',
 'Michael Winterbottom',
 'Stephen Hopkins',
 'James Foley',
 'Mark Helfrich',
 'Jon Kasdan',
 'Shari Springer Berman',
 'Robert Pulcini',
 'James Gray',
 'Peter Hedges',
 'Roland JoffÃ©',
 'Amy Heckerling',
 'Susanne Bier',
 'Alastair Fothergill',
 'Mark Linfield',
 'Doug Lefler',
 'Wong Kar-wai',
 'Sylvain White',
 'David Leland',
 'Chris Rock',
 'Peter Webber',
 'Feng Xiaogang',
 'Ben Garant',
 'Ralph Zondag',
 'Eric Leighton',
 'David McNally',
 'Ben Younger',
 'Don Michael Paul',
 'Mimi Leder',
 'Paul Verhoeven',
 'Mary Harron',
 'Lars von Trier',
 'Roger Spottiswoode',
 'Antony Hoffman',
 'Stephen T. Kay',
 'Don Bluth',
 'Gary Goldman',
 'John Frankenheimer',
 'Edward Norton',
 'Jack Sholder',
 'Christian Duguay',
 'David Raynr',
 'Douglas Aarniokoski',
 'Davis Guggenheim',
 'Bonnie Hunt',
 'Uli Edel',
 'Des McAnuff',
 'Diane Keaton',
 'Mary Lambert']

In [187]:
# Ищем режесера с наибольшими кассовыми сборами
sum_profit = 0
sum_max = 0
Name_max = ''
for i in tmp:
    sum_profit = data[data.director.str.contains(str(i), na=False)].profit.sum()
    if sum_max < sum_profit:
        sum_max = sum_profit
        Name_max = i
Name_max

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [184]:
answers['14'] = 'Robert Rodriguez'

In [185]:
# Создаем список всех режесеров
tmp1 = list(Counter(pd.DataFrame(data['director'].str.split('|', expand=True)).values.ravel()))
# создаем временный DataFrame только с фильмами Action
tmp2 = data[data.genres.str.contains('Action', na=False)]

In [186]:
# Ищем режесера с наибольшим колличеством фильмов в стиле Action
sum_genres = 0
sum_max = 0
Name_max = ''
for i in tmp1:
    sum_genres = len(tmp2[tmp2.director.str.contains(str(i), na=False)])
    if sum_max < sum_genres:
        sum_max = sum_genres
        Name_max = i
Name_max

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [418]:
answers['15'] = 'Tess Harper'

In [410]:
# Создаем список всех актеров
tmp = list(Counter(pd.DataFrame(data['cast'].str.split('|', expand=True)).values.ravel()))

In [415]:
# создаем временный DataFrame только с фильмами 2012г.
data_new = data[data.release_year == 2012]

In [417]:
# Ищем актера 
sum_cast = 0
sum_max = 0
Name_max = ''
for i in tmp:
    sum_cast = data[data.cast.str.contains(str(i), na=False)].revenue.max()
    if sum_max < sum_cast:
        sum_max = sum_genres
        Name_max = i
Name_max

'Tess Harper'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [202]:
answers['16'] = 'Matt Damon'

In [198]:
# Создаем список всех актеров
tmp1 = list(Counter(pd.DataFrame(data['cast'].str.split('|', expand=True)).values.ravel()))
# создаем временный DataFrame только с фильмами, бюджет которых выше среднего
tmp2 = data[data.budget > data.budget.mean()]

In [201]:
# Ищем актера
sum_baget = 0
sum_max = 0
Name_max = ''
for i in tmp1:
    sum_baget = len(tmp2[tmp2.cast.str.contains(str(i), na=False)])
    if sum_max < sum_baget:
        sum_max = sum_baget
        Name_max = i
Name_max

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [372]:
answers['17'] = 'Drama'

In [204]:
# создаем временный DataFrame только с фильмами, где участвовал Nicolas Cage
tmp = data[data.cast.str.contains('Nicolas Cage', na=False)]

In [371]:
# Создаем Series с развернутым списком и колличеством элементов genres
tmp = pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel()))
# фильтруем Series
tmp.sort_values(ascending=False)

NaN                3425
Drama               560
Comedy              551
Thriller            446
Action              443
Adventure           337
Romance             242
Crime               231
Family              226
Science Fiction     195
Fantasy             188
Horror              150
Animation           120
Mystery             119
Music                47
History              46
War                  40
Western              12
Documentary           7
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [212]:
answers['18'] = 'Next (tt0435705)'

In [213]:
# создаем временный DataFrame только с фильмами, где участвовал Paramount Pictures
tmp = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

In [211]:
tmp[tmp.profit == tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [215]:
answers['19'] = '2015'

In [214]:
data.groupby(['release_year'])['revenue'].sum()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
answers['20'] = '2014'

In [217]:
# создаем временный DataFrame только с фильмами, где участвовал Warner Bros
tmp = data[data.production_companies.str.contains('Warner Bros', na=False)]

In [218]:
tmp.groupby(['release_year'])['revenue'].sum()

release_year
2000    1025531386
2001    2266545668
2002    1702709901
2003    2745493377
2004    2731933725
2005    2412980298
2006    1521170743
2007    3183675217
2008    3050595031
2009    2737954136
2010    3008712985
2011    2845393682
2012    1869520056
2013    2599953400
2014    3243064519
2015    1691168351
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [273]:
answers['21'] = '9'

In [256]:
# создаем словарь с номерами месяцев
month = dict.fromkeys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 0)
month

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0}

In [268]:
# создаем функцию фильтрации счетом
def sum_month(x):
    month_tmp = str(x).split('/')
    month[int(month_tmp[0])] += 1
    return x

In [269]:
# применяем функцию фильтрации счетом к DataFrame
data.release_date.apply(sum_month)

0         6/9/2015
1        5/13/2015
2        3/18/2015
3       12/15/2015
4         4/1/2015
           ...
1884     7/13/2000
1885    10/27/2000
1886     6/30/2000
1887     2/16/2000
1888     7/19/2000
Name: release_date, Length: 1889, dtype: object

In [270]:
# Смотрим результат
month

{1: 110,
 2: 135,
 3: 156,
 4: 149,
 5: 140,
 6: 147,
 7: 142,
 8: 161,
 9: 227,
 10: 186,
 11: 146,
 12: 190}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [275]:
answers['22'] = '516'

In [274]:
# суммируем данные из предыдущего задантя
sum_month = month[6] + month[7] + month[9]
sum_month

516

# 23. Для какого режиссера зима – самое продуктивное время года?

In [300]:
answers['22'] = 'Clint Eastwood'

In [284]:
# Создаем временные DataFrame с нужными месяцами
tmp1 = data[data.release_date.str.match('1')]
tmp2 = data[data.release_date.str.match('2')]
tmp3 = data[data.release_date.str.match('12')]

In [285]:
# Соединяем в один
tmp = pd.concat([tmp1, tmp2, tmp3])

In [299]:
# Создаем Series с развернутым списком и колличеством элементов, фильтруем его
s = pd.Series(Counter(pd.DataFrame(tmp['director'].str.split('|', expand=True)).values.ravel()))
s.sort_values(ascending=False)

NaN                  10454
Clint Eastwood          15
Peter Jackson           15
Steven Soderbergh       11
Martin Scorsese          9
                     ...
Terry Zwigoff            1
Jon Favreau              1
Josh Schwartz            1
Anthony Hemingway        1
Diane Keaton             1
Length: 556, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [324]:
# создаем функцию подсчета колличества символов
def long_Name(x):
    x = len(x)
    return x

In [419]:
# применяем функцию и фильтруем результат
tmp = data.original_title.apply(long_Name)
# второй вариант через lambda 
tmp = data.original_title.apply(lambda x:len(x))

tmp.sort_values(ascending=False)

1448    83
1314    62
219     59
1751    58
385     56
        ..
1483     2
714      2
1172     2
1282     2
252      1
Name: original_title, Length: 1889, dtype: int64

In [335]:
# смотрим результат
print(data.iloc[1448])

imdb_id                                                         tt0389860
budget                                                           82500000
revenue                                                         237681299
original_title                                                      Click
cast                    Adam Sandler|Kate Beckinsale|Christopher Walke...
director                                                     Frank Coraci
tagline                 What If You Had A Remote... That Controlled Yo...
overview                A workaholic architect finds a universal remot...
runtime                                                               107
genres                                       Comedy|Drama|Fantasy|Romance
production_companies    Original Film|Columbia Pictures Corporation|Re...
release_date                                                    6/22/2006
vote_average                                                          5.9
release_year                                                         2006
Name: 1449, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# ввиду загруженности на работе не хватило времени

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# ввиду загруженности на работе не хватило времени

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

##  Прошу простить за то, что пришло на день позже, выкладывал поздно ночью и забыл нажать "Отправить ответ на проверку"

## Зарание благодарю

# Submission

In [336]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tide (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '13': 'Peter Jackson',
 '14': 'Emma Watson',
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Next (tt0435705)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': 'Clint Eastwood',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Western'}

In [283]:
# и убедиться что ни чего не пропустил)
len(answers)

22