In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
288,tt1135503,40000000,129540499,Julie & Julia,Meryl Streep|Amy Adams|Stanley Tucci|Chris Mes...,Nora Ephron,Based on Two True Stories,Julia Child and Julie Powell â€“ both of whom ...,123,Romance|Drama,Columbia Pictures|Scott Rudin Productions|Easy...,8/6/2009,6.5,2009
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
1174,tt0318283,30000000,15368897,Alex & Emma,Luke Wilson|Kate Hudson|Sophie Marceau|David P...,Rob Reiner,Is it love... or are they just imagining things?,Writer Alex Sheldon (Luke Wilson) must finish ...,96,Comedy|Romance,Epsilon Motion Pictures|Franchise Pictures|Esc...,6/16/2003,5.0,2003
1258,tt2023587,15000000,146497771,Mama,Jessica Chastain|Nikolaj Coster-Waldau|Megan C...,Andy Muschietti,A Mother's Love is Forever,"Guillermo del Toro presents Mama, a supernatur...",100,Horror,Universal Pictures|Toma 78|De Milo,1/17/2013,6.0,2013
71,tt3488710,35000000,61181942,The Walk,Joseph Gordon-Levitt|Ben Kingsley|Charlotte Le...,Robert Zemeckis,Dream High.,The story of French high-wire artist Philippe ...,123,Adventure|Drama|Thriller,TriStar Pictures|Sony Pictures Entertainment|I...,9/30/2015,6.8,2015

In [339]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [340]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# Определяем основные параметры DataFrame
data.info()


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

Создадим колонку profit (прибыль)

In [7]:
data['profit'] = data.revenue - data.budget
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [344]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tide (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [345]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [346]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [347]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [348]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [349]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [374]:
answers['4'] = '110'

In [373]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [352]:
answers['5'] = '107.0'

In [376]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [354]:
answers['6'] = 'Avatar (tt0499549)'

In [394]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [356]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [357]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [358]:
answers['8'] = '1478'

In [381]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [360]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [382]:
tmp = data[data.release_year == 2008] # создаем временный DataFrame с фильмами 2008 г.
tmp[tmp.revenue == tmp.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [362]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [383]:
tmp = data[(data.release_year >= 2008)&(data.release_year <= 2014)] # создаем временный DataFrame с нужными годами
tmp[tmp.profit == tmp.profit.min()] # находим наименьшую прибыль

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [364]:
answers['11'] = 'Drama'

In [11]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(data['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                4338
Drama               782
Comedy              683
Thriller            596
Action              582
Adventure           415
Crime               315
Romance             308
Family              260
Science Fiction     248
Fantasy             222
Horror              176
Mystery             168
Animation           139
Music                64
History              62
War                  58
Western              19
Documentary           8
Foreign               2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [389]:
answers['12'] = 'Drama'

In [13]:
# создаем временный DataFrame из фильмов с положительной прибылью
tmp = data[data.profit > 0]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                3428
Drama               560
Comedy              551
Thriller            446
Action              444
Adventure           337
Romance             242
Crime               231
Family              226
Science Fiction     195
Fantasy             188
Horror              150
Animation           120
Mystery             119
Music                47
History              46
War                  41
Western              12
Documentary           7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [164]:
answers['13'] = 'Peter Jackson'

In [28]:
# Создаем список всех режесеров
list_director = list(Counter(pd.DataFrame(data['director'].str.split('|', expand=True)).values.ravel()))

In [29]:
# Ищем режесера с наибольшими кассовыми сборами
sum_profit = 0
sum_max = 0
Name_max = ''
for i in list_director:
    sum_profit = data[data.director.str.contains(str(i), na=False)].profit.sum()
    if sum_max < sum_profit:
        sum_max = sum_profit
        Name_max = i
Name_max

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [184]:
answers['14'] = 'Robert Rodriguez'

In [30]:
# создаем временный DataFrame из фильмов в жанре Action
new_data = data[data.genres.str.contains('Action', na=False)]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(new_data['director'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                   2869
Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
                      ...
Jeff Wadlow              1
Lexi Alexander           1
Peter Segal              1
Mathieu Kassovitz        1
Des McAnuff              1
Length: 365, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [418]:
answers['15'] = 'Tess Harper'

In [37]:
# создаем временный DataFrame только с фильмами 2012г.
data_new = data[data.release_year == 2012]

In [36]:
# Создаем список всех актеров
tmp = list(Counter(pd.DataFrame(data['cast'].str.split('|', expand=True)).values.ravel()))

In [417]:
# Ищем актера 
sum_cast = 0
sum_max = 0
Name_max = ''
for i in tmp:
    sum_cast = data[data.cast.str.contains(str(i), na=False)].revenue.max()
    if sum_max < sum_cast:
        sum_max = sum_genres
        Name_max = i
Name_max

'Tess Harper'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [202]:
answers['16'] = 'Matt Damon'

In [39]:
# создаем временный DataFrame только с фильмами, бюджет которых выше среднего
tmp = data[data.budget > data.budget.mean()]
# Создаем Series с развернутым списком и колличеством элементов, сортируем его
pd.Series(Counter(pd.DataFrame(tmp['cast'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Cliff Robertson       1
Carrie Coon           1
Rip Torn              1
Lara Flynn Boyle      1
Piper Perabo          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action'

NameError: name 'answers' is not defined

In [204]:
# создаем временный DataFrame только с фильмами, где участвовал Nicolas Cage
tmp = data[data.cast.str.contains('Nicolas Cage', na=False)]

In [40]:
# Создаем Series с развернутым списком и колличеством элементов genres, сортируем
pd.Series(Counter(pd.DataFrame(tmp['genres'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                1238
Action              330
Adventure           288
Comedy              213
Thriller            210
Drama               186
Family              158
Fantasy             156
Science Fiction     153
Animation           111
Crime                87
Romance              64
Mystery              49
War                  34
History              32
Horror               22
Music                13
Western              11
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [212]:
answers['18'] = 'Next (tt0435705)'

In [213]:
# создаем временный DataFrame только с фильмами, где участвовал Paramount Pictures
tmp = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

In [211]:
# ищем самый самый убыточный фильм
tmp[tmp.profit == tmp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [215]:
answers['19'] = '2015'

In [214]:
# групперуем и находим сумму
data.groupby(['release_year'])['revenue'].sum()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
answers['20'] = '2014'

In [217]:
# создаем временный DataFrame только с фильмами, где участвовал Warner Bros
tmp = data[data.production_companies.str.contains('Warner Bros', na=False)]

In [218]:
# групперуем и находим сумму
tmp.groupby(['release_year'])['revenue'].sum()

release_year
2000    1025531386
2001    2266545668
2002    1702709901
2003    2745493377
2004    2731933725
2005    2412980298
2006    1521170743
2007    3183675217
2008    3050595031
2009    2737954136
2010    3008712985
2011    2845393682
2012    1869520056
2013    2599953400
2014    3243064519
2015    1691168351
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [273]:
answers['21'] = '9'

In [43]:
# создаем словарь с номерами месяцев
month = dict.fromkeys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 0)
month

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0}

In [44]:
# создаем функцию фильтрации счетом
def sum_month(x):
    month_tmp = str(x).split('/')
    month[int(month_tmp[0])] += 1
    return x

In [45]:
# применяем функцию фильтрации счетом к DataFrame
data.release_date.apply(sum_month)

0         6/9/2015
1        5/13/2015
2        3/18/2015
3       12/15/2015
4         4/1/2015
           ...
1884     7/13/2000
1885    10/27/2000
1886     6/30/2000
1887     2/16/2000
1888     7/19/2000
Name: release_date, Length: 1889, dtype: object

In [270]:
# Смотрим результат
month

{1: 110,
 2: 135,
 3: 156,
 4: 149,
 5: 140,
 6: 147,
 7: 142,
 8: 161,
 9: 227,
 10: 186,
 11: 146,
 12: 190}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = '450'

NameError: name 'answers' is not defined

In [47]:
# суммируем данные из предыдущего задантя
sum_month = month[6] + month[7] + month[8]
sum_month

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [300]:
answers['22'] = 'Ridley Scott'

In [284]:
# Создаем временные DataFrame с нужными месяцами
tmp1 = data[data.release_date.str.match('1')]
tmp2 = data[data.release_date.str.match('2')]
tmp3 = data[data.release_date.str.match('12')]

In [285]:
# Соединяем в один
tmp = pd.concat([tmp1, tmp2, tmp3])

In [48]:
# Создаем Series с развернутым списком и колличеством элементов, фильтруем его
pd.Series(Counter(pd.DataFrame(tmp['director'].str.split('|', expand=True)).values.ravel())).sort_values(ascending=False)

NaN                   3272
Ridley Scott            10
Steven Spielberg         8
Peter Jackson            8
M. Night Shyamalan       7
                      ...
Marco Schnabel           1
Jon Avnet                1
Robert Stevenhagen       1
Rupert Wyatt             1
Des McAnuff              1
Length: 389, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
# создаем функцию подсчета колличества символов
def long_Name(x):
    x = len(x)
    return x

In [52]:
# применяем функцию и фильтруем результат
data.original_title.apply(long_Name).sort_values(ascending=False)
# второй вариант через lambda 
data.original_title.apply(lambda x:len(x)).sort_values(ascending=False)

1448    83
1314    62
219     59
1751    58
385     56
        ..
1483     2
714      2
1172     2
1282     2
252      1
Name: original_title, Length: 1889, dtype: int64

In [54]:
# смотрим результат
print(data.loc[1448])

imdb_id                                                         tt0443453
budget                                                           18000000
revenue                                                         261572744
original_title          Borat: Cultural Learnings of America for Make ...
cast                    Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...
director                                                    Larry Charles
tagline                                    Come to Kazakhstan, it's nice!
overview                Kazakh journalist Borat Sagdiyev travels to Am...
runtime                                                                82
genres                                                             Comedy
production_companies    Twentieth Century Fox Film Corporation|Four By...
release_date                                                    11/2/2006
vote_average                                                          6.4
release_year                                                         2006
profit                                                          243572744
Name: 1448, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# ввиду загруженности на работе не хватило времени

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# ввиду загруженности на работе не хватило времени

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

##  Прошу простить за то, что пришло на день позже, выкладывал поздно ночью и забыл нажать "Отправить ответ на проверку"

## Зарание благодарю

# Submission

In [336]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tide (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '13': 'Peter Jackson',
 '14': 'Emma Watson',
 '15': 'Emma Watson',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Next (tt0435705)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': 'Clint Eastwood',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Western'}

In [283]:
# и убедиться что ни чего не пропустил)
len(answers)

22